@font-face {
    font-family: "Oxygen Regular";
    src: url(../Fonts/Oxygen/Oxygen-Regular.ttf)
}

@font-face {
    font-family: "Oxygen Bold";
    src: url(../Fonts/Oxygen/Oxygen-Bold.ttf)
}

@font-face {
    font-family: "Oxygen Light";
    src: url(../Fonts/Oxygen/Oxygen-Light.ttf)
}


:root {
    /* Make black a bit lighter and white not pure-white to make it less tiring for eyes */
    --off-black: #101010ed;
    --off-white: #F8F0E3;
    --this-red: #ff0000;
    --this-dark-red: #650000;
    --this-mid-grey: #404040;
    --this-light-grey: #ABABAB;
    --this-lightest-grey: #DDDDDD;
}


html {
    font-family: "Oxygen Regular", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    scrollbar-color: var(--this-red) var(--this-mid-grey);
    scrollbar-width: auto;
    overflow-x: hidden;
}

html, body
{
    margin: 0;
    padding: 0;
}

/*Appearance of scrollbar in Chrome a bit different but still same color scheme and works*/
/*Attribution: https://css-tricks.com/custom-scrollbars-in-webkit/*/
::-webkit-scrollbar {
    width: 1rem;
    background: var(--this-mid-grey);
  }

  ::-webkit-scrollbar-track {
    /* For mozilla browser compatibility */
    -webkit-box-shadow: inset 0 0 6px var(--off-black); 
    /* Other browsers */
    box-shadow: inset 0 0 6px var(--off-black);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* For mozilla browser compatibility */
    -webkit-box-shadow: inset 4px 4px 6px var(--off-black); 
    /* Other browsers */
    box-shadow: inset 4px 4px 6px var(--off-black); 
    background: var(--this-red);
}

.parent-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: minmax(15rem, auto) minmax(40rem, auto) minmax(10rem, auto);
    grid-template-areas: "hd hd hd hd hd hd hd hd hd"
                         "mn mn mn mn mn mn mn mn mn"
                         "ft ft ft ft ft ft ft ft ft";
}

/* Attribution: https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    text-align: center;
    z-index: 9999999999;
    border: 16px solid #f3f3f3; /* Light grey */
    
    border-top: 16px solid var(--this-lightest-grey);
    border-right: 16px solid var(--this-red);
    border-bottom: 16px solid var(--this-mid-grey);
    border-left: 16px solid var(--this-dark-red);

    border-radius: 50%;
    position: fixed;
    display: block;
    left: 47vw;
    top: 50vh;
    width: 5rem;
    height: 5rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/******************************GENERAL LAYOUT***************************************************/
header {
    color: var(--off-white);
    background-image: url("../Assets/forestVanillaFilter.jpg");
    grid-area: hd;
    display: grid;
    /* grid-template-columns: repeat(1fr, 9); */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-areas: "nav nav nav nav nav nav nav nav nav"
                          "hds hds hds hds hds hds hds hds hds"
                          ". . . . . . . . .";
}

/*Attribution: https://www.w3schools.com/howto/howto_js_sticky_header.asp */
/*Sticky formatting for main navbar*/
.sticky1 {
    position: fixed;    
    background-color: var(--this-light-grey);
    color: var(--off-black)!important;
    padding: 0;
    width: 100vw;
    z-index: 200;
}

/*************************************Elements in the Header********************************/


#main-navbar
{   
    color: var(--off-white);
    grid-area: nav;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr repeat(3, 1fr);
    grid-template-rows: 2fr;
    grid-template-areas: 
    "accessibility accessibility mainlist mainlist mainlist"
    "accessibility accessibility mainlist mainlist mainlist";
    row-gap: 0px;
}

#accessibility-options
{   
    list-style-type: none;
    grid-area: accessibility;
    z-index: 2;
    align-self: start;
    display: grid;
    grid-template-columns: "1fr 1fr 1fr";
    grid-template-rows: 1fr;
    grid-template-areas: "logo darkbutton textsizes";
    grid-gap: 10px;
    align-content: start;
    align-items: center;
    justify-content: start;
    justify-items: start;
}

#accessibility-options li {
    padding-top: 0.7rem;
    display: inline-block;
}
#text-size-options
{   
    grid-area: textsizes;
    width: fit-content;
    display: inline-block;
}
#text-size-options > button
{
    background-color: Transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    color: var(--off-white);
}

#large-text
{   
    font-size: 1.8rem;
}

#medium-text
{
    font-size: 1.4rem;
}

#small-text
{
    font-size: 1.0rem;
}


#extra-small-text
{
    font-size: 0.6rem;
}

#dark-mode
{   
    margin-top: 10px;
    grid-area: darkbutton;
    height: fit-content;
    padding: 10px;
    width: 8rem;
    /* Max-width so does not overflow off the web page on very small screens */
    max-width: 50vw;
    color: var(--off-white);
    border: 2px solid var(--off-white);
    border-radius: 8px;
    background-image: linear-gradient(var(--this-light-grey), var(--off-black), var(--this-light-grey));
    cursor: pointer;
}


#navbar-logo-text a
{   
    grid-area: logo;
    color: var(--off-white);
    margin: 0;
    padding:0;
    text-align: start;
    margin-right: 2rem;
}

#main-navbar-list {
    list-style-type: none;
    grid-area: mainlist;
    justify-self: end;
    align-self: start;
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: end;
    grid-template-areas: "links1 links1 links1 links1 links1 links1  links1  links1"
                         "links2 links2 links2 links2 links2 links2  links2  links2";

}

#links-to-this-site
{
    grid-area: links1;
    list-style-type: none;
    margin-bottom: 2rem;
}

#social-links
{
    grid-area: links2;
    list-style-type: none;
}

#links-to-this-site > li{
    display: inline;
    grid-area: site-nav;
    font-size: 0.8rem;
    padding-left: 14px;
    color: var(--off-white);
    font-weight: bolder;
}

#social-links > li
{
    display: inline;
    padding-left: 14px;
}

.social-media-link
{
    display: inline;
    grid-area: social-nav;
}

a:visited
{
    color: red;
}

#main-navbar #main-navbar-list li {
    z-index: 1000;
}

#main-navbar #main-navbar-list li a:link
{
    color: var(--this-red);
}

#main-navbar #main-navbar-list li a:visited
{
    color: var(--off-white);
}
#main-navbar #main-navbar-list li a:hover
{
    color: var(--this-red);
}

@media only screen and (max-device-width: 1565px) and (min-device-width: 1200px)
{   
    #accessibility-options{ 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logo darkbutton"
                            "logo textsize";
    }
}


@media only screen and (max-device-width: 1200px) and (min-device-width: 768px)
{
    #accessibility-options
    {   
        list-style-type: none;
        grid-area: accessibility;
        z-index: 2;
        align-self: start;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "logo"
                            "darkbutton"
                            "textsizes";
        align-content: start;
        align-items: center;
        justify-content: start;
        justify-items: start;
    }

}

@media only screen and (max-device-width: 768px)
{
    #main-navbar-list {
        display: none;
    }
    #navbar-logo-text
    {
        display: none;
    }
    #main-navbar
    {
        grid-area: nav;
        font-size: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "accessibility accessibility accessibility accessibility accessibility";
        row-gap: 0px;
    }

}


header .header-headings-area {
    grid-area: hds;

}

#main-heading{
    text-align: center;
    font-size: 3rem; 
    margin-bottom:0;
    padding-bottom:0;
    cursor: pointer;
}

#main-subheading-and-dropdown-container
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: "dropdown sbhd .";

}

#dropdown{
    display: none;
}

.dropdown-container
{   
    grid-area: dropdown;
    align-self: end;
    position: relative;
    margin: 20px;
}

.dropdown-menu
{
    position: left;
    padding: 10px;
    width: 50vw;
    background-color:var(--this-light-grey);
    color: var(--off-black);
    border-radius: 4px;
    border: 4px solid black;
    z-index: 1000;
}

.dropdown-menu div
{
    margin-top: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "droplink";
    justify-content: start;
    justify-items: start;
    align-items: center;
}

.dropdown-menu div a
{   
    grid-area: droplink;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.dropdown-menu div a:visited
{
    color: var(--this-red);
}

.dropdown-menu div a:hover
{
    color: var(--this-dark-red);
}

#main-subheading{
    grid-area: sbhd;
    text-align: center;
    font-size: 1.8rem;
    padding: 50px;
    justify-self: center;
}

#menu-button{
    width: fit-content;
    height: fit-content;
    background: linear-gradient(var(--off-white), var(--this-light-grey), var(--off-white));
    color: var(--off-black);
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2rem;
    cursor: pointer;
}


/************************************ELEMENTS IN THE INDEX MAIN CONTAINER****************************************/

main {
    grid-area: mn;
    background-color:var(--off-white);
    color: 	var(--off-black);
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-areas: "social-media-links"
                         "main-part";
}



#main-container-media-links
{   
    z-index: 2;
    list-style-type: none;
    display: none;
    grid-area: social-media-links;
}

.main-part-of-page{
    grid-area: main-part;
}


#main-container-media-links > li
{
    margin-left: 14px;
}

/* Social media buttons on navbar will disappear and appear in the main container if
screen size is less than 768px */
@media only screen and (max-device-width: 768px)
{   
    #main-container-media-links
    {
        display: inline;
    }
    #main-container-media-links > li{
        display: inline-block;
    }
}


.social-media-icon
{   
    width: 1.8rem;
    height: auto;
}

.social-media-icon:hover{
    width: 3rem;
}



#welcome-content
{   
    padding-top: 50px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 15% minmax(30%, 70%) 15%;
    grid-template-rows: repeat(1fr, 4);
    grid-template-areas: ". header1 ."
                        ". header2 ."
                        ". welcominfo ."
                        ". welcomeinfo .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: space-around;
    text-align: center;
    gap: 0.8rem;    
    margin: 2rem;
}

#welcome-content h2
{
    font-size: 1.6rem;
    grid-area: header1;
    align-self: start;
}


#welcome-content h3
{
    font-size: 1.4rem;
    grid-area: header2;
    align-self: start;
}

#welcome-info
{
    grid-area: welcomeinfo;
    align-self: end;
}

#welcome-info > p
{
    font-size: 1.1rem;
    text-align: center;
}

#welcome-list
{
    list-style-type: none;
}

#welcome-list li
{   
    font-size: 0.9rem;
    padding-top: 2.2rem;
}


/* Media queries for header and index page */
@media only screen and (min-device-width: 768px)
{
    .dropdown{
        display:none;
    }
 
}

@media only screen and (max-device-width: 600px)
{   
    /* Increase contrast between black and white for smaller screens */
    :root {
        --off-black: #000000;
        --off-white: #FFFFFF;
    }
    
    #main-subheading
    {
        font-size: calc(100vw / 20);
    }
    #welcome-info-content
    {
        font-size: calc(100vw / 40);
    }
    #welcome-list
    {
        font-size: calc(100vw / 30);
        justify-self: start!important;
        margin-left: -2.4rem;
    }
}

@media only screen and (max-device-width: 400px)
{   
    #menu-button
    {
        font-size: 10px;
    }
    #main-subheading{
        font-size: 1rem;
    }
    #accessibility-options
    {   
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
                            "darkbutton"
                            "textsizes";
    }
    #accessibility-options li {
        padding-top: 0.7rem;
        display: block;
    }
}


/************************************ELEMENTS IN THE FOOTER****************************************/

footer
{
    grid-area: ft;
    background-color: var(--this-light-grey);
    color: 	var(--off-black);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(1fr, 9);
    grid-template-areas: ". .  map"
                         ". .  map"
                         ". contact map"
                         ". contact map"
                         ". contact map"
                         ". contact map"
                         ". . map"
                         ". .  map"
                         "copyright  . map "           

}

#copyright
{
    grid-area: copyright;
    font-size: 0.8rem;
    margin-left: 0.6rem;
    margin-bottom: 0.6rem;
}
#contact
{
    grid-area: contact;
    font-size: 1rem;
    text-align: center;
    align-self: center;
}

#site-map
{
    grid-area: map;
    font-size: 0.9rem;
    align-self: start;
    justify-self: center;
    padding: 1.2rem;
}


#site-map > ol > li
{
    padding: 0.5rem;
}

#site-map > ol > li > a
{
    color: var(--off-black);
}

#site-map > ol > li > a:visited
{
    color: var(--this-mid-grey);
}

#site-map > ol > li > a:hover
{
    color: var(--this-red);
}

#site-map > ol
{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
}

/* Large phones and smaller screen size*/
@media only screen and (max-device-width: 768px)
{   
    /* Puts the footer's sitemap links into two columns instead of one long one */
    #site-map ol
    {   
        grid-template-columns: 1fr 1fr;
        align-content: start;
        align-items: start;
    }
}

/* Small phones size */
@media only screen and (max-device-width: 375px)
{   
    /* Footer sections (contact, site links, copyright) are stacked in one column
    instead of 3 columns side by side */
    footer{
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 1fr;
    grid-template-areas: "contact"
                         "map"
                         "copyright";
    justify-content: center;
    justify-items: center;
    align-self: start;
    align-items: start;  
    width: 100vw;  
    }
}



/* img just there for screen reader text purposes */
.screenreader-only {
    display: none;
}

/****************************ELEMENTS IN BOOK/FILM REVIEWS PAGE******************************************************/
.main-reviews-container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas: "reviews asidereviews";
}

.reviews { 
    height: 100%;
    grid-area: reviews;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "reviewstitle reviewstitle reviewstitle"
                         "reviewscontent reviewscontent reviewscontent"
                         "reviewsexpand reviewsexpand reviewsexpand";
    grid-auto-rows: auto;
    justify-content: start;
    justify-items: start;
    
}

.reviews-title
{   
    grid-area: reviewstitle;
    font-size: 3rem;
    text-align: center;
    align-self: start;
    margin-left: 20px;
}

.reviews-content
{   
    grid-area: reviewscontent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;
    align-self: start;
}


.books-not-hidden, .films-not-hidden, .music-not-hidden
{
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 0.5fr 0.5fr;
    grid-template-areas: "media-icon"
                         "media-icon"
                         "media-icon"
                         "media-icon"
                         "media-icon"
                         "media-title"
                         "media-caption";  
    justify-items: center;  
    text-align: center; 
}

.hidden
{   
    display: none;
}

.media-icon
{
    grid-area: media-icon;
    height: auto;
    width: 10rem;
    border-radius: 10px;
    border: 4px solid grey; 
}

.media-icon:hover, .travel-location-image:hover
{

    animation: tilt-n-move-shaking 0.4s linear infinite; 
    border: 4px solid var(--this-red);
}

/* Make the photos of the media shake on hover */
/* CSS Shake Animation Attribution: https://unused-css.com/blog/css-shake-animation/ */
@keyframes tilt-n-move-shaking{
    0% {transform: translate(0, 0,) rotate(0 deg);}
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.media-title
{   
    grid-area: media-title;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    font-size: 1rem;
}

.media-caption
{
    grid-area: media-caption;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
    text-align: center;
}


.reviews-expand
{
    grid-area: reviewsexpand;
}

.reviews-expand, .travel-events-expand
{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "loadbutton loadbutton uparrow"
                        "loadbutton loadbutton uparrow";
    margin-left: 2rem;
    align-items: end;
}


.load-more
{   
    grid-area: loadbutton;
    font-size: 1.2rem;
    height: 3.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    /* padding-top: 40px; */
    margin-right: 40px;
    background-image: linear-gradient(var(--this-mid-grey), var(--off-black), var(--this-mid-grey));
    color: var(--off-white);
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--off-black);
    border-radius: 8px;
    width: 60vw;
}

#scroll-up-arrow
{   
    grid-area: uparrow;
    cursor: pointer;
    justify-self: center;
    margin-top: 20px;
}

#scroll-up-arrow > img
{
    height: 6rem;
}

#aside-reviews
{
    grid-area: asidereviews;
    border-radius: 4px;
    background-color: var(--this-light-grey);
    border: 4px solid var(--this-mid-grey);
    align-self: stretch;
    margin-right: 1rem;
    margin-top: -2rem;
    color: var(--white-color);
    height: fit-content;
    padding-bottom: 6rem;
    margin-bottom: 10rem!important;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    min-height: 75%;
}

@media only screen and (max-device-width: 400px)
{
    #aside-reviews {
        width: 98vw;
    }
    #aside-reviews > ul {
        grid-template-columns: 1fr!important;
    }
    
}


@media only screen and (max-device-width: 600px)
{
    .reviews-expand, .travel-events-expand
    {   
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "loadbutton" 
            "uparrow";
    }
    .load-more
    {
        justify-self: center;
    }
    #scroll-up-arrow
    {
        justify-self: start;
    }
}


#aside-reviews > h4
{   
    font-size: 1.8rem;
}

#aside-reviews > ul
{
    display: grid;
    align-items: center;
}

#aside-reviews > ul > li
{   
    padding-top: 20px;
    padding-bottom: 20px;
    
}


/* For small laptop screens and smaller - reviews page */
@media only screen and (max-device-width: 1200px)
{   
    /* Only make the header sticky on large laptop and PC screens */
    .sticky1{
        display: none!important;
    }
    /* Makes aside section go underneath the main content instead of next to it */
    .main-reviews-container {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: "reviews"
                             "asidereviews";
        justify-content: center;
    }
    /* Reformats aside menu to new dimensions, so it takes up less space */
    #aside-reviews
    {   
        justify-self: center;
        width: 90%;
        align-self: center;
        margin-right: 0;
        padding-bottom: 1rem;
        margin-bottom: 10px;
        display: grid;
        grid-template-rows: 1fr 2fr;
    }
    #aside-reviews > h4
    {
        margin-left: 2rem;
    }
    #aside-reviews > ul
    {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr
        align-items: start;
    }
    #aside-reviews > ul > li
    {
        display: inline-block;
        padding: 0.5rem;
    }
    .reviews-title
    {   
        font-size: 2.5rem;
        margin-left: 0px;
        padding:10px;
    }
    .reviews-content
    {   
        grid-template-columns: 1fr 1fr;
        column-gap: 0rem;
        margin-bottom: 0px;
    }
    .media-icon
    {
        width: 20rem;
    }
}

/* Book icon size of 20rem was too large for tablet-size screens */
@media only screen and (max-device-width: 966px)
{
    .media-icon
    {
        width: 12rem;
    }
}

@media only screen and (max-device-width: 768px)
{
    .media-icon
    {
        width: 10rem;
    }
    .reviews-title
    {   
        font-size: 2rem;
    }
}

@media only screen and (max-device-width: 650px)
{
    .media-icon
    {
        width: 10rem;
    }
}

/* For very small screens - reviews page */
@media only screen and (max-device-width: 650px)
{
    .reviews-content
    {   
        grid-template-columns: 1fr;
        row-gap: 0rem;
    }
    .media-icon
    {
        width: 10rem;
    }
    .reviews-title
    {   
        font-size: 1.5rem;
    }
    #scroll-up-arrow
    {   
        justify-self: start;
        margin-right: 0rem;
    }
    /* Decreases the relative size of the 'scroll to top' arrow */
    #scroll-up-arrow > img
    {
        height: 4rem;
    }
    /* Makes the list of links in the aside organized into 2 columns */
    #aside-reviews > ul
    {
        text-align: center;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }

}


/****************************ELEMENTS IN TRAVEL/EVENTS REVIEW PAGE*************************************************/
.main-travel-events-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "travel-events-title"
                         "travel-events-content"
                         "travel-events-expand";
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-content: start;
    margin-top: -2rem;
}

.travel-events-title
{
    grid-area: travel-events-title;
    font-size: 3rem;
    text-align: center;
    padding-top: 100px;

}
.travel-events-content
{
    grid-area: travel-events-content;
    width: 97%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-self: start;
    background: var(--white-color);
    row-gap: 40px;
    padding-top: 40px;
}

.travel-not-hidden, .event-not-hidden
{
    display: inline-block;
    width: 90%;
    background: var(--white-color);
    height: fit-content;
}


.travel-event-title
{
    font-size: 1.6rem;
    text-align: center;
}

.travel-location-image
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 45%;
    border: 6px solid black;
}

.travel-location-caption
{
    margin-left: 10%;
    font-size: 0.8rem;
}

.travel-location-description
{
    text-align: center;
}

.travel-events-expand
{
    grid-area: travel-events-expand;
    margin-bottom: 10rem;
}

@media only screen and (max-device-width: 768px)
{
    .travel-events-content{
        grid-template-columns: 1fr;
    }
    .load-more {
        width: 80vw;
        padding: 2vw;
        justify-self: center!important;
    }
}


/****************************ELEMENTS IN SINGLE REVIEW PAGE*************************************************/

.main-review-container
{   
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "review review review review aside-single-review aside-single-review";
    grid-gap: 5rem;
    align-content: start;
    align-items: start;
    justify-content: start;
    justify-items: start;
    margin-top: -1vw;
}

#aside-single-review
{
    grid-area: aside-single-review;
    border-radius: 4px;
    background-color: var(--this-light-grey);
    border: 4px solid var(--this-mid-grey);
    color: var(--white-color);
    font-weight: bolder;
    min-height: 75%;
    justify-self: end;
    margin-top: 50px;
    margin-right: 20px;
}

#aside-single-review > ul > h4
{   
    font-size: 2rem;
}

#aside-single-review > ul
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 2px;
    align-items: start;
}

#aside-single-review > h4
{
    text-align: center;
    margin-left: 20px;
}

#aside-single-review > ul > li
{   
    padding-top: 50px;
    padding-bottom: 50px;
}

.review 
{
    grid-area: review;
    align-self: start;
    margin-left: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "reviewtitle"
                         "article-text"
                         "reviewsexpand";
    grid-gap: 0.5rem;
    align-items: center;
    justify-content: start;
    justify-items: start;
}

.main-review-container h3
{   
    font-size: 1.8rem;
    grid-area: reviewtitle;
    justify-self: start;
    margin-left: 6rem;
}

#article-text
{
    grid-area: article-text;
    width: 80%;
    justify-self: start;
    margin-left: 2rem;
    overflow-wrap: break-word;
}
.article-body section 
{
    margin-bottom: 1rem;
}

@media only screen and (max-device-width: 1200px)
{
    .main-review-container
    {   
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas: "review" "aside-single-review";
        grid-gap: 1rem;
        align-content: start;
        align-items: start;
        justify-content: start;
        justify-items: start;
        margin-top: -1vw;
    }
    
    #aside-single-review
    {
        color: var(--white-color);
        font-weight: bolder;
        min-height: 60%;
        min-width: 98%;
        justify-self: start;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #aside-single-review > ul
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        align-items: start;
    }
    #aside-single-review > ul > li
    {
        margin-top: 20px;
    }
}

@media only screen and (max-device-width: 600px)
{   
    #aside-single-review
    {
        margin-bottom: 100px;
    }
    #aside-single-review > ul {
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: auto;
    }
}

@media only screen and (max-device-width: 300px)
{
    #aside-single-review > ul {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}

/* SUBSCRIBE PAGE STYLING */

#subscribe-form-container
{
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: auto;
    grid-template-areas: "form-title"
                         "form";
    justify-content: center;
    margin-top: 2rem;
}

#subscribe-form-heading
{
    font-size: 1.6rem;
    grid-area: form-title;
    text-align: center;
    justify-self: center;
    align-self: start;
    padding: 10px;
}

#subscribe-form
{   
    padding: 20px;
    grid-area: form;
    justify-self: center;
    align-self: center;
    
}


.form-row
{
    margin: 1rem;
}

#first-name-input-container, #last-name-input-container, #email-input-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-text-label
{   
    display: inline-block;
}

.form-text-input
{   
    display: inline-block;
    padding: 7px;
    border: 2px solid black;
}


#form-submit
{
    background-color: grey;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 6rem;
}

.form-error
{
    color: var(--this-red);
    font-size: 1.2rem;
}

#thank-you-message
{
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 1.8rem;
}

#back-link
{
    text-align: center;
}

#back-link > a:hover
{
    color: var(--this-red);
}

@media only screen and (max-device-width: 768px)  
{
    .form-text-label, .form-text-input
    {
        display: block;
    }
    .form-text-input
    {
        padding: 10px;
    }
    #first-name-input-container, #last-name-input-container, #email-input-container
    {
        grid-template-columns: 1fr;
    }
}