@font-face {
    font-family: "Oxygen Regular";
    src: url(../Fonts/Oxygen/Oxygen-Regular.ttf)
}

@font-face {
    font-family: "Oxygen Bold";
    src: url(../Fonts/Oxygen/Oxygen-Bold.ttf)
}

@font-face {
    font-family: "Oxygen Light";
    src: url(../Fonts/Oxygen/Oxygen-Light.ttf)
}

/* Sets variables for main color palette */
:root {
    /* Make black a bit lighter and white not pure-white to make it less tiring for eyes */
    --off-black: #151515;
    --off-white: #F8F0E3;
    --this-red: #FF0800;
    --this-dark-red: #650000;
    --this-mid-grey: #404040;
    --this-light-grey: #ABABAB;
    --this-lightest-grey: #DDDDDD;
}

/* CSS STYLING FOR ELEMENTS THAT ARE ON EVERY PAGE:
--> BODY
--> SCROLLBARS
--> HEADER
--> NAVBAR
--> ACCESSIBILITY BUTTONS
--> STICKY HEADER 
--> MAIN BODY
--> MENU BUTTON AND DROPDOWN
--> FOOTER
*/

/* Creates a custom red-and-grey scroll bar */
/* FONT SIZE is specified *in pixels* only for the WHOLE website */
/* Other font size specifications are in rem units, therefore relative
to this base font size.
This allows the user to easily change the text-size of the whole document
with JavaScript
 */
html {
    font-family: "Oxygen Regular", Verdana, Tahoma, sans-serif;
    font-size: 16px;
    scrollbar-color: var(--this-red) var(--this-mid-grey);
    scrollbar-width: auto;
    /* Make sure only vertical scroll-bar appears */
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
}

/*Appearance of scrollbar in Chrome is slightly different but still has the same color scheme and works*/
/*Attribution: https://css-tricks.com/custom-scrollbars-in-webkit/*/

/* Firefox scrollbars */
::-webkit-scrollbar {
    width: 1rem;
    background: var(--this-mid-grey);
}

::-webkit-scrollbar-track {
    /* For mozilla browser compatibility */
    -webkit-box-shadow: inset 0 0 6px var(--off-black);
    /* Other browsers */
    box-shadow: inset 0 0 6px var(--off-black);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* For mozilla browser compatibility */
    -webkit-box-shadow: inset 4px 4px 6px var(--off-black);
    /* Other browsers */
    box-shadow: inset 4px 4px 6px var(--off-black);
    background: var(--this-red);
}

/* Container that fits in everything you can see on the web pages */
.parent-container {
    /* No space around the sides of the website */
    width: 100%;
    margin: 0;
    padding: 0;
    /* Divide every page into three main grids: header, main, and footer */
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: minmax(15rem, auto) minmax(40rem, auto) minmax(10rem, auto);
    /* Header, main section, and footer rows */
    grid-template-areas: "hd hd hd hd hd hd hd hd hd"
        "mn mn mn mn mn mn mn mn mn"
        "ft ft ft ft ft ft ft ft ft";
}

/* Loader appears until document reaches onreadystate ready status */
/* Attribution: https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    text-align: center;
    /* Makes sure the loader is on on top of every other HTML element on the page */
    z-index: 999;
    border: 16px solid #f3f3f3;
    /* Four different sections of loader circle in different colors */
    border-top: 16px solid var(--this-lightest-grey);
    border-right: 16px solid var(--this-red);
    border-bottom: 16px solid var(--this-mid-grey);
    border-left: 16px solid var(--this-dark-red);
    /* Makes a curve */
    border-radius: 50%;
    /* Always put loader in the center */
    position: fixed;
    display: block;
    left: 47vw;
    top: 50vh;
    width: 5rem;
    height: 5rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/******************************HEADER LAYOUT**********************************/
header {
    color: var(--off-white);
    background-image: url("../Assets/forestVanillaFilter.jpg");
    grid-area: hd;
    display: grid;
    /* Has three sections: navbar, headers, and then blank space to wrap around for balance */
    grid-template-areas: "nav nav nav nav nav nav nav nav nav"
        "hds hds hds hds hds hds hds hds hds"
        ". . . . . . . . .";
}

/* Image on header element is set through background-image property */
/* However, this means that no 'alt' text possible to read for screenreader users
with visual impairment. Therefore, I put a hidden image on the header with alt text
describing background image: "Background photograph of dark greyscale forest" */
.screenreader-only {
    display: none;
}


/*Attribution: https://www.w3schools.com/howto/howto_js_sticky_header.asp */
/*Sticky formatting for main navbar*/
/* JavaScript files have code for when user scrolls down on Large screens, the sticky
changes display from 'none' to 'block' */
.sticky1 {
    position: fixed;
    background-color: var(--this-light-grey);
    color: var(--off-black) !important;
    width: 100vw;
    /* Makes sure the sticky is in front of the other elements */
    z-index: 2;
    /* The sticky navbar originally too big and taking up most of the page, so I made
     the font-size smaller */
    font-size: 0.3rem !important;
}

/******************************Navbar Styling**********************************/
/* Whole navbar section, including both the accessibility (text sizes, dark mode) buttons
    on the left, as well as the links to the parts of the website on the right  */
#main-navbar {
    color: var(--off-white);
    grid-area: nav;
    font-size: 1rem;
    display: grid;
    /* Want space for the main list of links to be larger than for the accessibility options */
    grid-template-columns: 1fr 1fr repeat(3, 1fr);
    grid-template-rows: 2fr;
    /* Organization of two smaller navbars */
    grid-template-areas:
        "accessibility accessibility mainlist mainlist mainlist"
        "accessibility accessibility mainlist mainlist mainlist";
}

/*********** Navigation panel for accessibility options ***********/

/* Includes three groups: logo, dark-light mode button, and array of text-size buttons */
#accessibility-options {
    list-style-type: none;
    grid-area: accessibility;
    /* Makes sure that buttons are visible when sticky is displayed */
    z-index: 3;
    align-self: start;
    display: grid;
    grid-template-columns: "1fr 1fr 1fr";
    /* Buttons should be displayed in a row for convention's sake */
    grid-template-rows: 1fr;
    grid-template-areas: "logo darkbutton textsizes";
    align-content: start;
    align-items: center;
    justify-content: start;
    justify-items: start;
}

/* List items which wrap the text-size buttons */
#accessibility-options li {
    display: inline-block;
}

/* Span HTML display element containing the buttons representing different text sizes */
#text-size-options {
    grid-area: textsizes;
    width: fit-content;
    display: inline-block;
}

/* Buttons with a transparent background are displayed to look like links */
#text-size-options>button {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    color: var(--off-white);
}

/* Highlight red when user moves mouse over buttons */
#text-size-options>button>b:hover {
    color: var(--this-red);
    font-size: 120%;
}

/* Match the size to the functionality of what happens when the text-size is selected */
#large-text {
    font-size: 2.5rem;
}

#medium-text {
    font-size: 2rem;
}

#small-text {
    font-size: 1.5rem;
}

#extra-small-text {
    font-size: 1rem;
}

/* Dark/Light Mode Button for Accessibility */
#dark-mode {
    margin-top: 10px;
    grid-area: darkbutton;
    height: fit-content;
    padding: 8px;
    width: 8rem;
    /* Max-width so does that the button not overflow off the web page on very small screens */
    max-width: 50vw;
    color: var(--off-white);
    /* Brighter border for greater contrast and visibility */
    border: 2px solid white;
    border-radius: 8px;
    background-image: linear-gradient(var(--this-light-grey), var(--off-black), var(--this-light-grey));
    cursor: pointer;
}

/* Highlights the dark mode button on hover */
#dark-mode:hover {
    border: 2px solid var(--this-red);
    padding: 14px;
}

/* Logo text (links to home) */
#navbar-logo-text a {
    grid-area: logo;
    color: var(--off-white);
    margin: 0;
    padding: 0;
    text-align: start;
    margin-right: 2rem;
    font-size: 1.2rem;
}

/* Increase size of logo on hover */
#navbar-logo-text a:hover {
    font-size: 1.8rem;
}


/*********** Navigation panel for navbar links to pages ***********/

#main-navbar-list {
    /* No bullet points */
    list-style-type: none;
    grid-area: mainlist;
    /* Align on right of header */
    justify-self: end;
    /* Align on top of header */
    align-self: start;
    margin: 10px;
    margin-right: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: end;
    grid-template-areas: "links1 links1 links1 links1 links1 links1  links1  links1"
        "links2 links2 links2 links2 links2 links2  links2  links2";

}

/* Ordered list subarray of main links nav: internal links on this page */
#links-to-this-site {
    grid-area: links1;
    list-style-type: none;
    margin-bottom: 10px;
}

/* Increases size of link when mouse is over it */
#links-to-this-site>li:hover {
    font-size: 1.5rem;
}

/* Makes all the links to different web pages inline */
#links-to-this-site>li,
#social-links>li {
    display: inline;
    padding-left: 14px;
    font-size: 1rem;
    color: var(--off-white);
    font-weight: bolder;
}

/* Social media links buttons */
/* Ordered list subarray of main links nav: external links to social media */
#social-links {
    grid-area: links2;
    list-style-type: none;
    padding-top: 10px;
}

#social-links>li {
    display: inline;
    padding-left: 14px;
}

/* The 'a' tag of the link */
.social-media-link {
    grid-area: social-nav;
}

/* Links change color to red when they have been visited once or more */
a:visited {
    color: red;
}

/* Z-index makes sure that all links are on top of the sticky navbar which has
a z-index o 2 */
#main-navbar #main-navbar-list li {
    z-index: 3;
}

/* Includes three groups: logo, dark-light mode button, and array of text-size buttons */
#accessibility-options {
    list-style-type: none;
    grid-area: accessibility;
    /* Makes sure that buttons are visible when sticky is displayed */
    z-index: 3;
    align-self: start;
    display: grid;
    grid-template-columns: "1fr 1fr 1fr";
    /* Buttons should be displayed in a row for convention's sake */
    grid-template-rows: 1fr;
    grid-template-areas: "logo darkbutton textsizes";
    align-content: start;
    align-items: center;
    justify-content: start;
    justify-items: start;
}



/******************************END OF NAVBAR STYLING**********************************/

/******************************HEADERS STYLING**********************************/

/* Area where main header ('SPOOKTASTIC'), sub-heading and dropdown icon are */
.header-headings-area {
    grid-area: hds;
}

/* Main title heading */
#main-heading {
    text-align: center;
    font-size: 3.5rem;
    cursor: pointer;
}

/* Red when hover over title */
#main-heading:hover {
    color: var(--this-red);
}

/* Bottom section of header */
/* Contains subheading in the center and dropdown menu button on the left */
#main-subheading-and-dropdown-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: "dropdown sbhd .";

}

/* Hide dropdown unless clicked */
#dropdown {
    display: none;
}

/* Put menu button and dropdown at bottom of header */
.dropdown-container {
    grid-area: dropdown;
    align-self: end;
    position: relative;
    margin: 20px;
}

/* Make expanded dropdown menu go over half of page */
.dropdown-menu {
    position: left;
    padding: 10px;
    width: 40vw;
    background-color: var(--this-light-grey);
    color: var(--off-black);
    border-radius: 4px;
    border: 4px solid black;
    z-index: 3;
}

/* Div container for each link in the dropdown */
.dropdown-menu div {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "droplink";
    /* Begin dropdown links text on left */
    justify-content: start;
    justify-items: start;
    align-items: center;
}

/* Dropdown links */
.dropdown-menu div a {
    grid-area: droplink;
    padding: 10px;
    font-size: 1rem;
    font-weight: bolder;
    text-align: left;
}

/* Color change when hover over or visit links in dropdown menu */
.dropdown-menu div a:visited {
    color: var(--this-red);
}

.dropdown-menu div a:hover {
    color: var(--this-dark-red);
}

/* 'Your Go-To Site for Horror News and Reviews' text */
#main-subheading {
    grid-area: sbhd;
    text-align: center;
    font-size: 2rem;
    padding: 50px;
    justify-self: center;
}

/* Attribution: https://www.w3schools.com/howto/howto_css_menu_icon.asp */
#menu-button {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(var(--off-white), var(--this-light-grey), var(--off-white));
    color: var(--off-black);
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
}

/* Three bars that make up icon on the dropdown button */
.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 0.3rem;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotates first bar to make X */
.changeIcon .bar1 {
    -webkit-transform: rotate(-43deg) translate(-4.5px, 6px);
    transform: rotate(-43deg) translate(-4.5px, 6px);
}

/* Fades out the second bar */
.changeIcon .bar2 {
    opacity: 0;
}

/* Rotates last bar to make X */
.changeIcon .bar3 {
    -webkit-transform: rotate(43deg) translate(-8.1px, -8px);
    transform: rotate(43deg) translate(-8.1px, -8px);
}

/******************************END OF HEADER STYLING**********************************/


/************************************MAIN CONTAINER****************************************/

main {
    grid-area: mn;
    background-color: var(--off-white);
    color: var(--off-black);
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-areas: "social-media-links"
        "main-part";
}


/* Social media links in main container */
/* Only appear with smaller screen sizes, whereas the top social media
links in the navbar will disappear */
#main-container-media-links {
    z-index: 2;
    list-style-type: none;
    display: none;
    grid-area: social-media-links;
}

/* Main content */
.main-part-of-page {
    grid-area: main-part;
}

/************************************END OF MAIN STYLING****************************************/

/************************************FOOTER STYLING****************************************/

/* Grid layout in three columns for footer (at least on larger screens) */
footer {
    grid-area: ft;
    /* Will change colors in dark mode */
    background-color: var(--this-light-grey);
    color: var(--off-black);
    border: 4px double var(--this-dark-red);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(1fr, 9);
    /* Has three main sections: Copyright, Contact, and Site Links */
    grid-template-areas: ". .  map"
        ". .  map"
        ". contact map"
        ". contact map"
        ". contact map"
        ". contact map"
        ". . map"
        ". .  map"
        "copyright  . map "
}

/* First section: copyright */
#copyright {
    grid-area: copyright;
    font-size: 0.8rem;
    margin-left: 0.6rem;
    margin-bottom: 0.6rem;
}

/* Second section: contact */
#contact {
    grid-area: contact;
    font-size: 1rem;
    text-align: center;
    align-self: center;
}

/* Third section: site links */
#site-map {
    grid-area: map;
    font-size: 0.9rem;
    align-self: start;
    justify-self: center;
    padding: 1.2rem;
}

/*  Set site map to grid layout, so can wrap around into more columns
later on smaller size screens */
#site-map>ol {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
}

/* Styling for individual links in the site map */
#site-map>ol>li {
    padding: 0.5rem;
}

#site-map>ol>li>a {
    color: var(--off-black);
}

#site-map>ol>li>a:visited {
    color: var(--this-mid-grey);
}

#site-map>ol>li>a:hover {
    color: var(--this-red);
}

/************************************END OF FOOTER STYLING****************************************/


/************************************HOMEPAGE STYLING****************************************/

/* Main message in index page welcoming the user */
#welcome-content {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 15% minmax(30%, 70%) 15%;
    grid-template-rows: repeat(1fr, 4);
    grid-template-areas: ". header1 ."
        ". header2 ."
        ". welcominfo ."
        ". welcomeinfo .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: space-around;
    text-align: center;
    margin: 1rem;
}

/* Headings in the main container of index.html page */
#welcome-content h2 {
    font-size: 1.6rem;
    grid-area: header1;
}

/* Subheading in main section of index page */
#welcome-content h3 {
    font-size: 1.4rem;
    grid-area: header2;
}

/* Aligns headings to top of main container */
#welcome-content h2,
#welcome-content h3 {
    align-self: start;
}

/* Styling for short text description of the website */
/* #welcome-info contains both descriptive paragraph and list of main features of
the website */
#welcome-info {
    grid-area: welcomeinfo;
    align-self: center;
}

#welcome-info-content {
    font-size: 1.1rem;
    text-align: center;
}

/* Bullet point list items in Welcome Page advertising the key features of the website */
#welcome-list {
    list-style-type: none;
}

#welcome-list li {
    font-size: 0.9rem;
    padding-top: 2rem;
}

/************************************END OF INDEX.HTML STYLING***************************************/


/****************************STYLING FOR BOOKS/MOVIES/MUSIC REVIEWS PAGES****************************/


/****************************ELEMENTS IN BOOK/FILM REVIEWS PAGE******************************************************/
/* Contains aside menu and main reviews section */
.main-reviews-container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas: "reviews asidereviews";
}

/* Main reviews section with list of reviews */
.reviews {
    height: 100%;
    grid-area: reviews;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "reviewstitle reviewstitle reviewstitle"
        "reviewscontent reviewscontent reviewscontent"
        "reviewsexpand reviewsexpand reviewsexpand";
    grid-auto-rows: auto;
    justify-content: start;
    justify-items: start;

}

/* Title of reviews pages */
.reviews-title {
    grid-area: reviewstitle;
    text-align: center;
    align-self: start;
    margin-left: 20px;
    font-size: 1.8rem;
    padding: 0.8rem;
}

/* Links to reviews in this section */
.reviews-content {
    grid-area: reviewscontent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;
    align-self: center;
}

/* Not-hidden is a class which is toggled in JavaScript with the hidden class.
Used to implement functionality where on clicking load-more button, you can
hide and show more reviews */
.not-hidden {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.hidden {
    text-align: center;
    justify-items: center;
    display: none;
}

/* Picture of a book cover/movie */
.media-icon {
    grid-area: media-icon;
    height: 15rem;
    width: 10rem;
    border-radius: 10px;
    border: 4px solid grey;
}

/* On hover, highlight review pictures in red and shake them */
/* Make the photos of the media shake on hover */
/* CSS Shake Animation Attribution: https://unused-css.com/blog/css-shake-animation/ */
.media-icon:hover,
.travel-location-image:hover {

    animation: tilt-n-move-shaking 0.4s linear infinite;
    border: 4px solid var(--this-red);
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0, ) rotate(0 deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

/* Title of book/film/music */
.media-title {
    grid-area: media-title;
    font-size: 1rem;
    text-align: left;
    align-self: start;
    padding-top: -100px;
}

/* Author of review */
.media-caption {
    grid-area: media-caption;
    font-size: 0.75rem;
    text-align: left;
    align-self: start;
    padding-top: -100px;
    margin-bottom: 5rem;
}

/* Section of the reviews page where the Load More... button is, as well
as the red arrow which when clicked takes user to the top of the page */
.reviews-expand {
    grid-area: reviewsexpand;
}

.reviews-expand,
.travel-events-expand {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "loadbutton loadbutton uparrow"
        "loadbutton loadbutton uparrow";
    margin-left: 2rem;
    align-items: end;
}

/* Load More Button */
.load-more {
    grid-area: loadbutton;
    font-size: 1.2rem;
    /* Ensures text of button fits inside */
    height: fit-content;
    width: fit-content;
    /* Sets width with padding property */
    padding: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    margin-right: 40px;
    margin-left: 100px;
    background-image: linear-gradient(var(--this-mid-grey), var(--off-black), var(--this-mid-grey));
    color: var(--off-white);
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--off-black);
    border-radius: 2px;
}

/* Arrow to take user to top of the page */
#scroll-up-arrow {
    grid-area: uparrow;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    margin-bottom: -20px;
}

#scroll-up-arrow>img {
    height: 6rem !important;
}


/* Aside section on Reviews pages */
#aside-reviews {
    grid-area: asidereviews;
    border-radius: 4px;
    background-color: var(--this-light-grey);
    border: 4px solid var(--this-mid-grey);
    align-self: stretch;
    margin-right: 1rem;
    margin-top: 2rem;
    color: var(--white-color);
    height: fit-content;
    padding-bottom: 6rem;
    margin-bottom: 10rem !important;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    min-height: 60%;
}


/* List of links in aside menu */
#aside-reviews>ul {
    display: grid;
    align-items: center;
    list-style-type: none;
    justify-items: center;
    justify-content: start;
}

/* Aside heading */
#aside-reviews>li>h4 {
    font-size: 1.8rem;
}

/* Separates the links in the aside menu */
#aside-reviews>ul>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.6rem;
}


/****************************ELEMENTS IN TRAVEL/EVENTS ARTICLES PAGES********************************/
/* Container for reviews/articles about travel and events */
/* Similar to the styling of the Reviews (Books/Films) page but does not have an aside section */
.main-travel-events-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "travel-events-title"
        "travel-events-content"
        "travel-events-expand";
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-content: start;
    margin-top: -10rem;
}

/* Title for whole travel page */
.travel-events-title {
    grid-area: travel-events-title;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 10rem;
    overflow-wrap: break-word;

}

/* Travel page content */
.travel-events-content {
    grid-area: travel-events-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-self: start;
    background: var(--white-color);
    padding-top: 40px;
    grid-column-gap: 20px;
}

/* Title for one specific article */
.travel-event-title {
    font-size: 1rem;
    text-align: center;
}

/* Title for image in the article */
.travel-location-image {
    width: 26rem;
    height: 16rem;
    border: 6px solid black;
    margin-top: 10px;
    margin: 20px;
}

/* Article caption */
.travel-location-caption {
    font-size: 0.8rem;
    text-align: left;
}

/* Article beginning description... */
.travel-location-description {
    text-align: left;
    padding-left: 18px;
    padding-right: 18px;
}

/* The load button and up arrow section of the travel/events pages */
.travel-events-expand {
    grid-area: travel-events-expand;
    margin-bottom: 10rem;
}

/****************************END TRAVEL/EVENTS STYLING**********************************************/


/****************************ELEMENTS IN ARTICLE PAGE**********************************************/
/* Main container which the article or review is wrapped in */
.main-review-container {
    display: grid;
    /* Has the main review section and the aside section */
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "review review review review aside-single-review aside-single-review";
    grid-gap: 1rem;
    align-content: start;
    align-items: start;
    justify-content: start;
    justify-items: start;
    /* Make it go nearer the top */
    margin-top: -1vw;
}

/* Aside for individual reviews page */
#aside-single-review {
    grid-area: aside-single-review;
    border-radius: 4px;
    background-color: var(--this-light-grey);
    border: 4px solid var(--this-mid-grey);
    /* Makes sure content doesn't overflow from the container */
    /* Makes sure content stretches to the bottom of the page, so that
    the containers look proportional */
    font-weight: bolder;
    margin-top: 50px;
    margin-right: 5px;
    height: fit-content;
    max-width: 60%;
    min-height: 120%;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: end;
    justify-content: start;
    justify-items: start;
    align-self: start;
    align-content: space-between;
}


/* List of links in the review page aside container */

#aside-single-review > h4 {
    margin-left: 20px;
    align-self: start;;
    font-size: 1.8rem;
}

#aside-single-review > ul {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}


#aside-single-review > ul > li {
    font-size: 0.8rem;
    margin-bottom: 5rem;
}

/* Review section */
.review {
    grid-area: review;
    align-self: start;
    margin-left: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "reviewtitle"
        "article-text"
        "reviewsexpand";
    grid-gap: 0.5rem;
    align-items: center;
    justify-content: start;
}

/* Heading/title of review */
.review > h3 {
    text-align: left !important;
    /* Give some space at the beginning of the page */
    margin-top: 4rem;
    padding: 20px;
    font-size: 1.3rem;
    grid-area: reviewtitle;
    justify-self: start;
}

/* Main text of article */
#article-text {
    grid-area: article-text;
    width: 100%;
    justify-self: start;
    margin-left: 2rem;
    overflow-wrap: break-word;
}

/* A section/paragraph in the article */
.article-body section {
    margin-bottom: 1rem;
}

.article-body section p {
    padding: 10px;
}

/* For a single review page: option of including responsive image gallery */
.img-gallery {
    display: grid;
    width: 100%;
    /* 3 images in one row */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    justify-items: start;
    align-items: center;
}

.gallery-img-container {
    position: relative;
    text-align: center;
    margin: 10px;
}

/* Make image brighter/more 'opaque' when user hovers over it */
/* Make image clickable, so add a pointer --> when click, expand the image (in JS) */
.gallery-img {
    opacity: 0.8;
    cursor: pointer;
    width: 14rem;
    height: 10rem;
    border: 2px solid grey;
}

.gallery-img:hover {
    opacity: 1;
}

/* Text on top of the images in a review/article page */
.gallery-img-text-white,
.gallery-img-text-black {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    font-weight: bolder;
    font-size: 1rem;
    opacity: 0.9;
}

.gallery-img-text-white {
    background-color: black;
    color: white;
}

.gallery-img-text-black {
    background-color: white;
    color: black;
}


/* Single image - not in a gallery */
.review-single-image-container {
    width: 100%;
    position: relative;
    text-align: center;
}

.review-single-image {
    width: 60vw;
    height: auto;
    opacity: 0.8;
    cursor: pointer;
    border: 2px solid grey;
}

.review-single-image:hover {
    opacity: 1;
}

/* Image caption */
.review-img-caption {
    font-size: 1rem;
    margin: 5px;
    font-weight: bolder;
    padding: 5px;
    text-align: center;
}

/*Attribution: https://www.w3schools.com/howto/howto_js_lightbox.asp */
/* Class that is added in JS when user clicks on an image to make it bigger */
/* Places image over whole screen */
.opened-image {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 95vw;
    height: 95vh;
    overflow: auto;
    background-color: black;
    border: 4px solid grey;
}

.opened-image > img {
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 10px;
    /* Use the important! keyword (although should be used sparingly) to override
    any other styling the image might have had before it was expanded with expandImage()
    in the script and a new opened-image class was added to the container */
    width: 80vw!important;
    height: 60vw!important;
    border: none;
}

/* Hide the text that overlays the image when it is expanded */
.opened-image>div {
    display: none;
}

/* Message with a red background at the bottom of the expanded image,
telling the user to click on the image again to close it */
#close-message {
    /* Makes sure this text is visible */
    z-index: 100;
    color: white;
    display: none;
    position: fixed;
    bottom: -20px;
    left: 0;
    font-weight: bolder;
    background-color: var(--this-dark-red);
    font-size: 1rem;
    padding: 10px;
    width: 95vw;
    border: 2px solid white;
}

/****************************END STYLING FOR ARTICLE PAGE**********************************************/

/****************************SUBSCRIBE FORM**********************************************************/

/* Container for the form */
#subscribe-form-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "form-title"
        "form";
    justify-content: center;
    margin-top: 2rem;
}

/* Form title */
#subscribe-form-heading {
    font-size: 1.6rem;
    grid-area: form-title;
    text-align: center;
    justify-self: center;
    align-self: start;
    padding: 10px;
}

/* Form itself */
#subscribe-form {
    padding: 20px;
    grid-area: form;
    justify-self: center;
    align-self: center;

}

/* A row in the form for a specific input */
.form-row {
    margin: 1rem;
}

/* Input containers */
#first-name-input-container,
#last-name-input-container,
#email-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Label for an input */
.form-text-label {
    display: inline-block;
}

/* Input box */
.form-text-input {
    display: inline-block;
    padding: 7px;
    border: 2px solid black;
}

/* Submit button */
#form-submit {
    background-color: grey;
    font-weight: bolder;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* Position the button horizontally in the center */
    /* Changed from 50% and 50% margins in the wireframe,
    as this did not position the button near the center on
    smaller screens */
    margin-left: 30%;
    margin-right: 30%;
    cursor: pointer;
    width: 6rem;
    border-radius: 2px;
}

#form-submit:hover{
    box-shadow: 5px 5px 10px var(--this-dark-red);
}

/* Error message if did not submit valid form content */
.form-error {
    color: var(--this-red);
    font-size: 1.2rem;
}

/* Thank you message if valid form submitted */
#thank-you-message {
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 1.8rem;
}

/* Link back to Home page */
#back-link {
    text-align: center;
}

#back-link > a:hover {
    color: var(--this-red);
}

/**************************** END STYLING FOR SUBSCRIBE FORM*****************************************/




/************************************MEDIA QUERIES***************************************************/


/* VERY SMALL MOBILE SCREENS */


/* 400 PIXEL AND LESS SCREENS */
@media only screen and (max-device-width: 400px) {

    /* Make the menu button's cross/three bar icon smaller */
    #menu-button {
        font-size: 10px;
    }

    /* Decrease heading sizes */
    #main-subheading {
        font-size: 1rem;
    }

    /* Accessibility options must stack in a column for small screens.
    No logo, as makes the screen too crowded */
    #accessibility-options {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "darkbutton"
            "textsizes";
    }

    #accessibility-options li {
        padding-top: 0.7rem;
        display: block;
    }

    /* Footer sections (contact, site links, copyright) are stacked in one column
    instead of 3 columns side by side for mobile screens */
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 4fr 1fr;
        grid-template-areas: "contact"
            "map"
            "copyright";
        justify-content: center;
        justify-items: center;
        align-self: start;
        align-items: start;
        width: 100vw;
    }

    /* Aside section in reviews pages --> set width to not take up the whole page */
    #aside-reviews {
        width: 80vw;
    }

    #aside-reviews>ul {
        grid-template-columns: 1fr !important;
    }

    /* Aside section in single article/review page */
    #aside-single-review {
        max-width: 70vw !important;
    }

    #aside-single-review>ul {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto;
    }
}


/* LARGER MOBILE SCREENS */
@media only screen and (max-device-width: 700px) {

    /* For mobile-size screens, use sharper black and white background/text colors.
    For other screens, I used an off-black and off-white color for most of the webpages,
    as I did not want to make the colors too brash when looking at a desktop/laptop.
    However, as mobile screens are more frequently used in sunlight, I set the main
    colors to pure black and white for these screens, to enable the user to see better  */
    :root {
        --off-black: #000000;
        --off-white: #FFFFFF;
    }

    /* Calculates heading sizes and index.html content as a proportion of the screen size, to
    ensure they fit */
    #main-subheading {
        font-size: calc(100vw / 20);
    }

    #welcome-info-content {
        font-size: calc(100vw / 40);
    }

    #welcome-list {
        font-size: calc(100vw / 30);
    }

    .load-more {
        /* PUT IT AT THE BEGINNING OF THE X-DIRECTION OF THE SCREEN */
        /* Make padding/width of this button relative to view width */
        margin-left: -5px;
    }

    /* Styling for aside section on single review/article page */
    #aside-single-review {
        margin-bottom: 100px;
        max-width: 75%;
    }

    #aside-single-review>ul {
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: auto;
    }
}


/* 650 PIXEL SCREEN SIZES AND LESS */
@media only screen and (max-device-width: 650px) {

    /* Put reviews into a single column */
    .reviews-content {
        grid-template-columns: 1fr !important;
        row-gap: 0rem;
    }

    .media-icon {
        width: 10rem;
    }

    /* Decrease size of reviews heading */
    .reviews-title {
        font-size: 1.8rem;
    }

    /* Put arrow at beginning of horizontal direction */
    #scroll-up-arrow {
        justify-self: start;
        margin-right: 0rem;
    }

}


/* 768px and less */
@media only screen and (max-device-width: 768px) {

    /* Display the dropdown menu button */
    .dropdown-container {
        display: inline-block;
    }

    /* Hide the navbar links for very small screens (must use menu-button and dropdown instead) */
    #main-navbar-list {
        display: none;
    }

    /* Hide logo to stop screen being too cluttered */
    #navbar-logo-text {
        display: none;
    }

    /* Only display accessibility options in the header */
    #main-navbar {
        grid-template-rows: 1fr;
        grid-template-areas:
            "accessibility accessibility accessibility accessibility accessibility";
    }

    /* Social media buttons on navbar will  appear *at the top of 
     the main container* if screen size is less than 768px */
    #main-container-media-links {
        display: inline;
    }

    #main-container-media-links>li {
        display:
            inline-block;
    }

    /* Not the same as navbar social media icons */
    /* These icons are displayed in the Main semantic section of the document.
    Easier to see on smaller screens */
    .social-media-icon {
        width: 1.8rem;
        height: auto;
    }

    .social-media-icon:hover {
        width: 3rem;
    }

    /* Reformats the site map list of links in the footer into
     two columns */
    #site-map ol {
        grid-template-columns: 1fr 1fr;
        align-content: start;
        align-items: start;
    }

    .media-icon {
        width: 10rem;
    }

    /* Changes travel articles to be displayed in one column */
    .travel-not-hidden {
        height: 50%;
        padding-bottom: 2.5rem;
    }

    .travel-events-content {
        grid-template-columns: 1fr;
    }

    .travel-location-image {
        width: 70vw;
        height: auto;
    }

    /* Changes size of load-more button to fit the screen */
    .load-more,
    #load-more-travel,
    #load-more-events {
        width: 20rem !important;
        max-width: 60vw !important;
        text-align: center;
        font-size: 1.2rem;
        justify-self: start !important;
    }

    /* Styling for Form page on smaller screens */
    .form-text-label,
    .form-text-input {
        display: block;
    }

    .form-text-input {
        padding: 10px;
    }

    #first-name-input-container,
    #last-name-input-container,
    #email-input-container {
        grid-template-columns: 1fr;
    }
}


/* LAPTOP SCREENS */
/* 768px+ screens */
@media only screen and (min-device-width: 768px) {

    /* Display dropdown menu button only on smaller screens,
where navbar will be hidden */
    /* Screens above tablet size */
    .dropdown-container {
        display: none;
    }
}


/* Small laptop screens */
/* Between 768px and 1200px screen size */
@media only screen and (max-device-width: 1200px) and (min-device-width: 768px) {

    /* Make three rows for the logo, darkmode button, and textsizes buttons to fit the screen */
    #accessibility-options {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "logo"
            "darkbutton"
            "textsizes";
    }

    .travel-not-hidden {
        height: 70%;
        padding-bottom: 2rem;
    }
}

/* Tablet screens under 900px */
@media only screen and (max-device-width: 900px) {
    .img-gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
    }

}


/* Smaller laptops */
/* Any screen smaller than 1200px */

/* Smaller laptops */
/* Any screen smaller than 1200px */
@media only screen and (max-device-width: 1200px) {

    /* Only make the header sticky on large laptop and PC screens */
    .sticky1 {
        display: none !important;
    }

    /* Makes aside section go underneath the main content instead of next to it */
    .main-reviews-container {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: "reviews"
            "asidereviews";
        justify-content: center;
    }


    /* Reviews section styling for screens under 1200px */
    .reviews-title {
        font-size: 2.5rem;
        margin-left: 0px;
        padding: 10px;
    }

    .reviews-content {
        grid-template-columns: 1fr 1fr;
        column-gap: 0rem;
        margin-bottom: 0px;
    }

    .media-icon {
        width: 20rem;
    }


    /* Aside for review listings, styling for screens under 1200px */
    /* Reformats aside menu to new dimensions, so it takes up less space */
    #aside-reviews {
        justify-self: center;
        width: fit-content;
        padding-right: 2rem;
        align-self: center;
        margin-right: 0;
        padding-bottom: 1rem;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto;
        align-content: center;
        justify-content: center;
    }

    #aside-reviews>ul {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        align-items: stretch;
        justify-items: center;
    }

    #aside-reviews>ul>li {
        display: block;
        padding: 3rem;
    }

    /* Styling for single review/article page */
    .main-review-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas: "review""aside-single-review";
        grid-gap: 1rem;
        align-content: start;
        align-items: start;
        justify-content: start;
        justify-items: start;
        margin-top: -1vw;
    }

    /* Styling for individual article/review page's aside section */
    #aside-single-review {
        color: var(--white-color);
        font-weight: bolder;
        min-height: 60%;
        width: 70vw;
        justify-self: center;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 0px;
    }

    #aside-single-review > ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        align-items: start;
    }

    #aside-single-review>ul>li {
        margin-top: 20px;
    }

}

/* Any screen smaller than 1300px */
@media only screen and (max-device-width: 1300px) {
    .travel-not-hidden {
        padding-bottom: 1rem;
    }

    .travel-location-image {
        width: 20rem;
    }
}

/* Media query for smalller laptops/desktop screens */
@media only screen and (max-device-width: 1565px) and (min-device-width: 1200px) {

    /* Stack dark-button on top of textsize buttons instead of having them all inline */
    /* Otherwise they overflow over the site links navbar on the right */
    #accessibility-options {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logo darkbutton"
            "logo textsize";
    }
}

/************************************ END MEDIA QUERIES***************************************************/